*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;

  background-color: lightgray;
}

.app-main{
  display: flex;
  width: 100%;
  height: 100%;
}

.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;

  background-color: rgba(20, 20, 20, 0.3);
  border: solid black 2px;
}

.color-palet{
  display: grid; 
  grid-template-columns: auto auto auto;
  width: 72px;
  height: auto;
  margin-top: 20%;
 
}

.color-palet div{
  width: 24px;
  height: 24px;
  border-style: solid;
  border-color: black;

}

#white-button{
  background-color: white;
}

#black-button{
  background-color: black;
}

#blue-button{
  background-color: blue;;
}

#green-button{
  background-color: green;
}

#red-button{
  background-color: red;
}

#purple-button{
  background-color: purple;
}

#yellow-button{
  background-color: yellow;
}

#pink-button{
  background-color: pink;
}

#orange-button{
  background-color: orange;
}

#gray-button{
  background-color: gray;
}

#brown-button{
  background-color: brown;
}

.brush-size-menu{
  display: grid; 
  grid-template-columns: auto auto auto;

  height: auto;
  width: 72px;

  margin-top: 20%;
}

.brush-size-menu-button{
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 1px black;
  height: 24px; 
  width: 24px;
}

#size-1 div{
  background-color: black;
  height: 4px;
  width: 4px;
  border-radius: 16px;
}

#size-2 div{
  background-color: black;
  height: 6px;
  width: 6px;
  border-radius: 16px;
}

#size-3 div{
  background-color: black;
  height: 8px;
  width: 8px;
  border-radius: 16px;
}

#size-4 div{
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 16px;
}

#size-5 div{
  background-color: black;
  height: 12px;
  width: 12px;
  border-radius: 16px;
}

#size-6 div{
  background-color: black;
  height: 14px;
  width: 14px;
  border-radius: 16px;
}



.canvas-container{
  height: 100%;
  width: 80%;
}

.my-canvas{
  height: 100%;
  width: 100%;
}